* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ededed;
}

header {
  background-color: #cc0000;
  height: 95px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#elementos {
  display: flex;
  padding: 10px;
  gap: 25px;
}

#Sesi {
  height: 45px;
  width: auto;
}

.usuario {
  color: white;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.menu {
  background-color: #ededed;
  height: 60px;
  border-bottom: #ae0909 3px solid;
  display: flex;
  align-items: center;
}

.bot {
  background-color: #cc0000;
  width: 240px;
  height: 35px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 0 0 20px;
  text-align: center;
  font-weight: bold;
}

.bot img {
  width: 23px;
  height: 23px;
}

.bot p {
  margin: 0;
  color: white;
  font-size: 15px;
}

#icon,
#teste {
  height: 35px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 0 0 20px;
  text-align: center;
  background-color: #ededed;
  justify-content: space-around;
}

#icon p,
#teste p {
  margin: 0;
  color: #cc0000;
  font-size: 15px;
}

.botao {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 25px;
}

#minhaClasse {
  display: flex;
  flex-direction: row;
}

#caixa {
  width: 96%;
  height: 491px; /* opcional: se quiser ter um tamanho máximo */
  max-height: 80vh; /* limita a altura máxima à viewport */
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  overflow-y: auto; /* habilita scroll vertical quando o conteúdo passar */
  padding: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.painel-historico {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #cc0000;
  color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
}

.painel-historico.ativo {
  right: 0;
}

.painel-historico h2 {
  font-size: 24px;
  font-weight: bold;
}

.painel-historico .fechar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: none;
  border: 3px solid white;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

#checklist {
  margin: 20px 20px 20px 30px;
}

#LISTA {
  font-size: 16px;
  margin: 20px 0 0 0px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

dialog {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  top: 10%;
  left: 20%;
  width: 60%;
  background-color: #ededed;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
}
.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #b3b3b3;
}
button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: #cc0000;
  color: white;
}

.fechar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: none;
  border: 3px solid white;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

select {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #b3b3b3;
  color: #6d6c6c;
}

#verde {
  background-color: rgb(58, 253, 87);
  color: white;
}
#amarelo {
  background-color: rgb(253, 253, 84);
  color: black;
}
#vermelho {
  background-color: rgb(255, 71, 71);
  color: white;
}

h2 {
  color: rgb(255, 255, 255);
}

#novalista {
  width: 100%;
  height: 50px;
  background-color: #cc0000;
  color: white;
  border: none;

  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #cc0000;
  border-radius: 10px;
}

p {
  align-self: start;
  margin: 0 0 0 35px;
}

#info {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

#info p {
  margin: 0;
  padding: 8px;
  background-color: #f8f8f8;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

#selecionar {
  display: flex;
  gap: 10px;
  margin: 10px 40px;
}
#selecionar {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  margin: 20px 40px 0 40px;
}

#selecionar {
  width: 85%;
  display: flex;
  align-items: end;
  justify-content: end;
}

.ficha-ativo {
  width: 150px;
  border-radius: 12px 12px 0 0;
  border:#cc0000 2px solid;
  border-bottom: none;
  background-color: #ededed;
  color:black
}
